html {
    background-color: rgb(252, 252, 252);
}
body {
    height: auto;
    margin: 0% 17%;
    font-family: 'Muli', sans-serif;
    color: rgb(43, 43, 58);
}

p {
    padding: 16px;
    width: 90%;
    margin: 0px;
    text-align:left;
}
p a {
    text-decoration: none;
    height: 2em;
    font-size: 23pt;
    letter-spacing: 0px;
    padding: 0px;
    margin: 0px;
}
main {
    width: auto;
    margin: auto;
}

main p{ 
    padding-top: 30px;
    font-size: 12pt;
    width: auto;
    line-height: 18pt;

}

h1 a:hover{
    text-decoration: underline;
}

header {
    display: flex;
    height:auto;
    margin-bottom: 0px;
}
main div.text{
    width:auto;
    margin: auto;
    text-align: center;
}

div.fp_image {
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

img.fp_image {
    width: auto;
    height: 45%;
    text-align: center;
    border-radius: .1em;
}

hr{
    padding: 0px;
    margin: 0px auto;
    color: hsl(0, 2%, 89%);
}

a {
    color: rgb(43, 43, 58);
    font-size: 13pt;
    padding: 16px 16px 0px 16px;
    margin: auto 10px 0px 10px;
    height: 1em;
    width: auto;
    margin-right: 10px;
    height: 2em;
    text-align: right;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.underline{
    text-decoration: underline;
}

div.contact-links{
    padding: 30px 0%;
    width: auto;
    margin: 0px;
}

div.contact-links p{
    text-align:left;
    width: auto;
    margin: 0px auto;
}

div.contact-links p a {
    font-size: 16pt;
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: left;
    width: auto;
}

div.gallery{
    display: flex;
    flex-wrap: wrap;
}

div.gallery img{
    width: 46%;
    padding: 1%;
    height: auto;
}

#projects{
    margin-top: 40px;
    width: auto;
}

#projects div h2{
    margin-left: 15px;
}

main p{
    word-wrap: break-word;
}

main#project div p {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    text-align: left;
    width: auto;
    word-wrap: break-word;
}

img.project-image{
    width: 45vw;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 5vw;
}

#projects div a{
    font-size: 12pt;
    font-style: italic;
}

img.project-image2{
   height: 50vh;
    text-align: center;
    margin: auto;
    display: inline-block;
    padding: 20px;
}

p#intro a {
    font-size: 12pt;
    line-height: 18pt;
    font-weight: bolder;
    color: black;
    font-style: italic;
}

.keogif{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 50%;
  height: 50%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}